@import '@/styles/_variables.scss';

.browse {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: sticky;
  }
  &__title {
    margin: 0;
  }
  &__body {
    padding: 2rem 0 0;
    box-sizing: border-box;
  }
  &__options {
    display: flex;
    gap: 2rem;
  }
}

.search {
  height: 100%;
  box-sizing: border-box;
  @extend .backdrop-blur;
  &__header {
    display: grid;
    padding: 1rem;
    grid-template-areas: 'space txtField closeBtn';
    position: sticky;
    top: 0;
    @extend .backdrop-blur;
    z-index: 50;
  }
  &__body {
    padding: 1rem;
    font-size: 2em;
  }
  &__close {
    grid-area: closeBtn;
    justify-self: end;
  }
  &__input {
    grid-area: txtField;
  }
}
