@import '../styles/_variables.scss';

.button {
  @extend .focus-animation;
  color: var(--text-color);
  max-width: 400px;
  box-sizing: border-box;
  height: 35px;
  border: none;
  padding: 0 1rem;
  transition: background-color 0.2s, filter 0.15s, outline 0.2s;
  cursor: pointer;
  border-radius: 0.3rem;
  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(1.2);
  }
  &--rounded {
    border-radius: 1rem;
  }
  &--outlined {
    border-width: 1px;
    border-style: solid;
  }
  &--outlined,
  &--text {
    &:hover {
      filter: brightness(1.2);
    }
    &:active {
      filter: brightness(1.5);
    }
  }
  &--gradient {
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      var(--info-color) 50%,
      var(--primary-color)
    );
  }
}
