@import '../styles/_variables.scss';

.button {
  @extend .focus-animation;
  color: var(--text-color);
  max-width: 25rem;
  box-sizing: border-box;
  height: 2.375rem;
  border: none;
  padding: 0 0.625rem;
  transition: background-color 0.2s, filter 0.15s, outline 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.3rem;
  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(1.2);
  }
  &--rounded {
    border-radius: 1rem;
  }
  &--fab,
  &--icon {
    border-radius: 50%;
    height: 2.375rem;
    width: 2.375rem;
  }
  &--outlined {
    border-width: 1px;
    border-style: solid;
  }
  &--icon {
    padding: 0;
    display: grid;
    place-items: center;
  }
  &--outlined,
  &--text,
  &--icon {
    &:hover {
      filter: brightness(1.2);
    }
    &:active {
      filter: brightness(1.5);
    }
  }
  &--gradient {
    background-color: transparent;
    background-image: var(--primary-gradient);
  }
  &--plain {
    color: var(--text-color) !important;
    background-color: transparent !important;
    &:hover {
      background-color: rgba(var(--text-color-value), 0.08) !important;
    }
    &:active {
      background-color: rgba(var(--text-color-value), 0.1) !important;
    }
  }
}
