.details {
  box-sizing: border-box;
  transition: background-image 0.2s;
  animation: fadeIn 0.2s;
  &__trailer-button {
    justify-self: end;
  }
  &__poster {
    width: 100%;
    min-height: 21.875rem;
    &--empty {
      width: 100% !important;
    }
    &--alt {
      display: grid;
      place-items: center;
      background-color: var(--bg-image-alt);
      height: 100%;
    }
    @media screen and (max-width: 599px) {
      border-radius: 0;
    }
  }
  &__body {
    border-radius: 1rem;
    transform: translateY(-1.5rem);
    background-color: var(--main-color);
    padding: 2rem 1.5rem;
    display: grid;
    align-items: start;
    animation: fadeIn 0.2s;
    grid-template-areas: 'title rate' 'subtitle subtitle' 'tagline tagline' 'overview overview' 'genres genres';
    grid-template-columns: 1fr auto;
    grid-template-rows: minmax(2rem, auto) auto auto 1fr minmax(4rem, auto);
    gap: 1.5rem 0.5rem;
  }
  &__overview,
  &__title {
    margin: 0;
  }
  .rating {
    font-size: 1.2em;
  }
  .subtitle {
    grid-area: subtitle;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .tagline {
    grid-area: tagline;
    display: block;
    color: rgba(var(--text-color-value), 0.75);
  }
  &__overview {
    grid-area: overview;
    line-height: 1.4em;
  }
  &__title {
    grid-area: title;
    font-size: 1.4em;
  }
  @media screen and (min-width: 37.5rem) {
    display: grid;
    grid-template-areas: 'poster description' 'content content';
    grid-template-columns: 15.625rem 1fr;
    grid-template-rows: minmax(21.875rem, auto) 1fr;
    gap: 4rem 1rem;
    padding: 2rem 1rem;
    max-width: 90rem;
    margin: 0 auto;
    &__poster {
      grid-area: poster;
      border-radius: 8px;
    }
    &__body {
      grid-area: description;
      transform: translateY(0);
      background-color: rgba(var(--main-color-value), 0.7);
      backdrop-filter: blur(0.3125rem);
      align-items: start;
      align-self: center;
    }
    .recommendations {
      grid-area: recommendations;
    }
  }
  @media screen and (min-width: 60rem) {
    grid-template-columns: 18.75rem 1fr;
    grid-template-rows: minmax(28.125rem, auto) 1fr;
    &__body {
      margin-right: 1rem;
    }
    &__poster {
      margin-left: 1rem;
    }
    gap: 4rem 2rem;
  }
  @media screen and (min-width: 64rem) {
    grid-template-columns: 21.875rem 1fr;
    grid-template-rows: minmax(32.8125rem, auto) 1fr;
    gap: 4rem 3rem;
  }
}

.content {
  grid-area: content;
}

.rating {
  grid-area: rate;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.genres {
  grid-area: genres;
  align-self: end;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.media-content {
  padding-bottom: 2rem;
  &__title {
    margin: 0;
    font-size: 1.2em;
    padding: 0 1rem;
  }
  &__header {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__gallery {
    .sheet {
      position: relative;
      &:hover {
        .play-icon {
          filter: brightness(1.2);
        }
      }
    }
    .play-icon {
      height: 100px;
      width: 100px;
      position: absolute;
      background-color: rgba(var(--info-color-value), 0.7);
      transition: filter 0.2s;
      border-radius: 50%;
      left: calc(50% - 3.125rem);
      top: calc(50% - 3.125rem);
    }
  }
}

.backdrop-image {
  animation: backdrop 0.5s;
  transition: background-image 0.5s;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 43.5rem;
  left: 0;
  top: 0;
  z-index: -10;
  opacity: 0.25;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6.25rem;
    background-image: linear-gradient(
      to bottom,
      transparent,
      var(--main-color) 60%
    );
    top: 90%;
  }
  &--empty {
    background-image: var(--primary-gradient);
    opacity: 0.1;
    animation: backdrop2 0.2s;
  }
}

.modal-wrapper {
  z-index: 150;
}

.video-viewer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(var(--main-color-value), 0.5);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  padding: 0.4rem 0.2rem;
  border-radius: 0.3125rem;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-right: 0.1rem;
  }
  &__title {
    margin: 0;
    font-size: 1em;
  }
  &__player {
    align-self: center;
    grid-area: player;
    border-radius: 0.3125rem;
    background-color: rgba(var(--text-color-value), 0.05);
    @media screen and (min-width: 600px) {
      width: 405px;
      height: 228px;
    }
    @media screen and (min-width: 768px) {
      width: 572px;
      height: 322px;
    }
    @media screen and (min-width: 960px) {
      width: 757px;
      height: 426px;
      // border: 1px solid green;
    }
    @media screen and (min-width: 1264px) {
      width: 905px;
      height: 509px;
    }
    @media screen and (min-width: 1440px) {
      width: 1109px;
      height: 624px;
    }
  }
}

@keyframes backdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes backdrop2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}
