@import '@/styles/variables.scss';

.drawer {
  overflow-x: hidden;
  .modal-content {
    height: 100%;
    width: 75%;
    padding: 1rem;
    box-sizing: border-box;
    @extend .backdrop-blur;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
    @media screen and (min-width: 600px) {
      width: 18.75rem;
    }
  }
  &--left,
  &--top,
  &--right {
    .close-button {
      margin-left: auto;
    }
  }
  &--left {
    .close-button {
      margin-left: auto;
    }
    .modal-content {
      margin-right: auto;
      animation: slideLeft 0.2s;
    }
  }
  &--right {
    .modal-content {
      margin-left: auto;
      animation: slideRight 0.2s;
    }
  }
  &--top {
    place-items: start;
    width: 100%;
    .modal-content {
      width: 100%;
      height: 18.75rem;
      max-height: 25rem;
      animation: slideTop 0.2s;
    }
  }
  &--persistent {
    background-color: transparent;
    .modal-content {
      box-shadow: none;
    }
    &.drawer--top {
      height: auto;
      animation: slideTop 0.2s;
    }
  }
}
