@import '@/styles/_variables.scss';

.modal-wrapper {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
  @extend .app-scrollbar;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.1s;
  box-sizing: border-box;
  &--active {
    display: grid;
    place-items: center;
  }
}

.modal-content {
  &--full {
    width: 100%;
    height: 100%;
  }
}
