@import '@/styles/_variables.scss';

.slide-group {
  padding: 0 1rem;
  position: relative;
  box-sizing: border-box;
  max-width: 90rem;
  margin: 0 auto;
  min-height: 12.5rem;
  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 0.5rem;
    padding: 0 0.5rem 0.8rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    @extend .app-scrollbar--alt !optional;
  }
  &:hover {
    .slide-group__list {
      @extend .app-scrollbar--alt-hover;
    }
  }
  .button-left,
  .button-right {
    position: absolute;
    z-index: 50;
    top: calc(50% - 38px);
    &:focus-visible {
      outline: none;
    }
  }
  .button-left {
    left: 0px;
  }
  .button-right {
    right: 0px;
  }
  /* &::before,
  &::after {
    position: absolute;
    width: 1.5625rem;
    height: 100%;
    z-index: 30;
    content: '';
  }
  &::before {
    top: 0;
    left: 0.625rem;
    background-image: linear-gradient(
      to right,
      var(--main-color) 60%,
      transparent
    );
  }
  &::after {
    top: 0;
    right: 0.625rem;
    background-image: linear-gradient(
      to left,
      var(--main-color) 60%,
      transparent
    );
  } */
}
