.snackbar {
  width: calc(100% - 3rem);
  min-height: 4rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fadeIn 0.2s;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  gap: 1rem;
  z-index: 100;
  &__message {
    margin: 0;
  }
  @media screen and (min-width: 600px) {
    width: 25rem;
  }
}
